[submodule "jimtcl"]
	path = jimtcl
	url = https://github.com/OffCourseOrg/jimtcl.git
[submodule "src/jtag/drivers/libjaylink"]
	path = src/jtag/drivers/libjaylink
	url = https://gitlab.zapb.de/libjaylink/libjaylink.git
[submodule "libusb"]
	path = libusb
	url = https://github.com/OffCourseOrg/libusb.git
